client/node_modules/*
Flowchart/bin/*
Flowchart/obj/*
.vs/*
Flowchart/node_modules/*
Flowchart/Properties/launchSettings.json

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

.vscode

Flowchart/bin/*
Flowchart/obj/*
Flowchart/Properties/launchSettings.json
