@model FlowchartCreator.Models.Flowchart

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<div id="flowchart-canvas"></div>
<script src="@Url.Content("~/js/ReactComponents/AddStepButton.jsx")"></script>
<script src="@Url.Content("~/js/ReactComponents/Canvas.jsx")"></script>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
