@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>



    <p>This software is designed to provide a simple and easy way to create flowcharts for various purposes.
    For a list of possible problems that may arise please look below</p>
    <dl>
        <dd><b>I can't create an account</b></dd>
            <p>If you are having trouble creating an account it may be due to an invalid e-mail address. Please ensure that
        the email you are attempting to use is correct and try again.</p>
        <dd><b>I have an account but can't log in</b></dd>
            <p>The most likely issue here is a typo in either the username or password. If the problem persists try resetting your password.</p>   
    </dl>


