@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


    <p>This software is designed to provide a simple and easy way to create flowcharts for various purposes.</p>


