@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<ul>
    <li>
        <a href="mailto:#">samuel.messina@siu.edu</a>
    </li>
    <li>
        <a href="mailto:#">rtevonian@siu.edu</a>
    </li>
    <li>
        <a href="mailto:#">taylorjflatt@gmail.com</a>
    </li>
    <li>
        <a href="mailto:#">michael.easton@siu.edu</a>
    </li>
</ul>
<h3>@ViewData["Message"]</h3>