@{
    ViewData["Title"] = "Contact";
}
<head>
    <style>

    </style>
</head>
<h2>@ViewData["Title"].</h2>
<p>feel free to contact us for assistance</p>
<dl>
   <dt><font size="5">email Sam Messina:</font></dt>
    <dd><a href="mailto:samuel.messina@siu.edu?Subject=Link%20test">samuel.messina@siu.edu</a></dd>
   <dt><font size="5">email Taylor Flatt:</font></dt>
    <dd><a href="mailto:taylorjflatt@gmail.com?Subject=Link%20test">talorjflatt@gmail.com</a></dd>
   <dt><font size="5">email Reid Tevonian:</font></dt>
    <dd><a href="mailto:rtevonian@siu.edu?Subject=Link%20test">rtevonian@siu.edu</a></dd>
   <dt><font size="5">email Michael Easton:</font></dt>
    <dd><a href="mailto:michael.easton@siu.edu?Subject=Link%20test">michael.easton@siu.edu</a></dd>

</dl>
<h3>@ViewData["Message"]</h3>