@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<dl>
   <dt>email Sam Messina:</dt>
    <dd><a href="mailto:samuel.messina@siu.edu?Subject=Link%20test">samuel.messina@siu.edu</a></dd>
   <dt>email Taylor Flatt:</dt>
    <dd><a href="mailto:taylorjflatt@gmail.com?Subject=Link%20test">talorjflatt@gmail.com</a></dd>
   <dt>email Reid Tevonian:</dt>
    <dd><a href="mailto:rtevonian@siu.edu?Subject=Link%20test">rtevonian@siu.edu</a></dd>
   <dt>email Michael Easton:</dt>
    <dd><a href="mailto:michael.easton@siu.edu?Subject=Link%20test">michael.easton@siu.edu</a></dd>

</dl>
<h3>@ViewData["Message"]</h3>