@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>
            }
        </dd>
        <dt>External Logins:</dt>
        <dd>

            @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">Manage</a>
        </dd>
        <dt>Phone Number:</dt>
        <dd>
            <p>
                Phone Numbers can be used as a second factor of verification in two-factor authentication.
                See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
            </p>
            @*@(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Change</a>
                    <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post">
                        [<button type="submit" class="btn-link">Remove</button>]
                    </form>
                }
                else
                {
                    <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Add</a>
                }*@
        </dd>

        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                for setting up this application to support two-factor authentication.
            </p>
            @*@if (Model.TwoFactor)
                {
                    <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal">
                        Enabled <button type="submit" class="btn-link btn-bracketed">Disable</button>
                    </form>
                }
                else
                {
                    <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal">
                        <button type="submit" class="btn-link btn-bracketed">Enable</button> Disabled
                    </form>
                }*@
        </dd>
        <dt>Delete Account</dt>
        <dd>
            @*
                TODO: This needs to be a link. Once clicked, a popup box appears asking the user to enter their password for confirmation to delete their account.  
            *@
            <button class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal">
                Delete Account
            </button>

            <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="confirmDeleteModal">Confirm Password To Delete Account</h4>
                        </div>
                        <form asp-controller="Manage" asp-action="DeleteUser">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" name="password" type="password" value=""/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger">Delete Account</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>


        </dd>
        
    </dl>
</div>
